.bgImg {
    position: absolute;
    top: 60%;
    left: 46%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: -1;
}

.img {
    display: none;
    width: 100%;
    margin-top: 40px;
}

@media screen and (max-width: 900px) {
    .bgImg {
        width: 94.66px;
        height: 79.69px;
    }

    .img {
        display: block;
    }
}
