.bgImg {
    position: absolute;
    top: 60%;
    left: 46%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: -1;
}

.mapImg {
    width: 1317px;
    height: 670px;
}
