.marquee {
    display: flex;
    overflow: hidden;
    height: 54px;
    align-items: center;
}

.marquee__text_first, .marquee__text_second {
    margin: 0;
    font-size: 20px;
    font-family: 'Benzin';
    text-transform: uppercase;
    font-weight: 400;
    line-height: 1.5;
    white-space: nowrap;
    display: inline-block;
}

.marquee__text_first {
    animation: marquee1 30s infinite linear;
    animation-delay: -30s;
}

.marquee__text_second {
    animation: marquee2 30s infinite linear;
    animation-delay: -15s;
}

@media screen and (max-width: 768px) {
    .marquee__text_first, .marquee__text_second {
        height: 38px;
    }

    .marquee__text {
        font-size: 16px;
    }
}

@keyframes marquee1 {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes marquee2 {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-200%);
    }
}
