.marquee {
    display: flex;
    overflow: hidden;
    position: relative;
    height: 54px;
    align-items: center;
    z-index: 10;

    &__text_first,
    &__text_second {
        margin: 0;
        font-size: 20px;
        font-family: 'Benzin';
        text-transform: uppercase;
        font-weight: 400;
        line-height: 1.5;
        white-space: nowrap;
        display: inline-block;
    }

    &__text_first {
        animation: marquee1 30s infinite linear;
        animation-delay: -30s;
    }

    &__text_second {
        animation: marquee2 30s infinite linear;
        animation-delay: -15s;
    }
}

@keyframes marquee1 {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes marquee2 {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-200%);
    }
}

@media screen and (max-width: 900px) {
    .marquee {
        height: 40px;
        &__text_first,
        &__text_second {
            font-size: 16px;
        }
    }
}
