@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);

body {
    font-family: 'Bahnschrift', Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
    color: #fff;
    background-color: #222;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-overflow-style: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
    ::-webkit-scrollbar {
        display: none;
    }
}

#root {
    padding: 0;
    overflow: hidden;
}
